In [80]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
from urllib.parse import urljoin

# connecting to the website
URL = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36"}
page = requests.get(URL, headers=headers)

# getting page content
soup1 = BeautifulSoup(page.content,"html.parser")

soup2 = BeautifulSoup(soup1.prettify(),"html.parser")

In [79]:
# selecting the correct table 
t = soup2.find('table', class_= 'wikitable sortable')

In [59]:
world_titles = t.find_all('th')

In [60]:
#creating a list to hold the titles that will be used in the data frame
world_table_titles = [title.get_text(strip=True).replace('\xa0', '') for title in world_titles ]
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue(USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [61]:
#creating the pandas data frame with column titles
df = pd.DataFrame(columns= world_table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue(USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [75]:
# selecting row data from the table on the website and then appending it to the data frame. 
column_data = t.find_all('tr')

for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data  = [data.get_text(strip=True) for data in row_data ]
    
    length = len(df)
    df.loc[length] = individual_row_data

In [76]:
# Now that the data frome is created it can be manipulated for further data analysis. 
df

,Rank,Name,Industry,Revenue(USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail andcloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City,New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [77]:
# creating a csv file from the data frame.
df.to_csv('data/ Web Scraping in Python.csv', index=False)